<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.videoapp">

    <!-- Uses Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Uses hardware flash light -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.videoapp.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.videoapp.activities.DashboardActivity" />
        <activity android:name="com.videoapp.activities.SignupActivity" />
        <activity android:name="com.videoapp.activities.LoginActivity" />
        <activity android:name="com.videoapp.activities.Main2Activity" />
        <activity android:name="com.videoapp.activities.Test" />
        <activity android:name="com.videoapp.activities.DeepLinkActivity" />
        <activity android:name="com.videoapp.activities.PaymentOffers" />
        <activity android:name="com.videoapp.activities.RestaurantsOffers" />
        <activity android:name="com.videoapp.activities.CamActivity" />
        <activity android:name="com.videoapp.activities.ExoPlayerActivity" />
        <activity android:name="com.videoapp.activities.InviteActivity" />
        <activity android:name="com.videoapp.activities.My_vedio_edit_profife" />
        <activity android:name="com.videoapp.activities.wallet" />
        <activity android:name="com.videoapp.activities.RateUsActivity" />
        <activity android:name="com.videoapp.activities.Music_player" />
        <activity android:name="com.videoapp.activities.PlayerActivity" />
        <activity android:name="com.videoapp.activities.user" />
    </application>

</manifest>